name: "Draft new release of nectar"

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version you want to release.'
        required: true

jobs:
  draft-new-release:
    name: "Draft a new release of nectar"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.BOTTY_GITHUB_TOKEN }}

      - name: Create release branch
        run: git checkout -b release/nectar/${{ github.event.inputs.version }}

      - name: Update changelog
        uses: thomaseizinger/keep-a-changelog-new-release@v1
        with:
          version: nectar-${{ github.event.inputs.version }}
          changelogPath: nectar/CHANGELOG.md

      - name: Initialize mandatory git config
        run: |
          git config user.name "COMIT Botty McBotface"
          git config user.email botty@coblox.tech

      - name: Bump version in Cargo.toml
        uses: thomaseizinger/set-crate-version@1.0.0
        with:
          version: ${{ github.event.inputs.version }}
          manifest: nectar/Cargo.toml

      - name: Update Cargo.lock
        uses: actions-rs/cargo@v1
        with:
          command: update
          args: --package nectar

      - name: Commit changelog and manifest files
        id: make-commit
        run: |
          git add nectar/CHANGELOG.md nectar/Cargo.toml Cargo.lock
          git commit --message "Prepare release nectar ${{ github.event.inputs.version }}"

          echo "::set-output name=commit::$(git rev-parse HEAD)"

      - name: Push new branch
        run: git push origin release/nectar/${{ github.event.inputs.version }} --force

      - name: Create pull request
        uses: thomaseizinger/create-pull-request@1.0.0
        with:
          GITHUB_TOKEN: ${{ secrets.BOTTY_GITHUB_TOKEN }}
          head: release/nectar/${{ github.event.inputs.version }}
          base: master
          title: Release version ${{ github.event.inputs.version }} of nectar
          reviewers: ${{ github.actor }}
          body: |
            Hi @${{ github.actor }}!

            This PR was created in response to a manual trigger of the release workflow here: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}.
            I've updated the changelog and bumped the versions in the manifest files in this commit: ${{ steps.make-commit.outputs.commit }}.

            Merging this PR will create a GitHub release and upload any assets that are created as part of the release build.
